/*both pages*/

/*Login Page CSS*/
#loginFormDiv, #errorMessageDiv{
    text-align: center;
}

#loginForm {
    display: inline-block;
    margin: auto;
}

#loginTable {
    text-align: center;
}

#errorMessage {
    display: inline-block;
    margin: auto;
    color: red;
}

/*Register Page CSS*/
#registerFormDiv {
    text-align: center;
}
#registerForm {
    display: inline-block;
    margin: auto;
}
#registerTable {
    text-align: left;
   }

#newSchoolSelection {
    width: 159px;
}

#newSchoolYear {
    width: 159px;
}

#newCampusSelection {
    width: 159px;
}

.header {
    padding: 30px; /* some padding */
    text-align: center; /* center the text */
    background: #FFD700; /* gold background */
    color: black; /* white text color */
}

    /* Increase the font size of the <h1> element */
 .header h1 {
        font-size: 40px;
    }

 /*Homepage*/
header {
    overflow: auto;
    padding-bottom: 20px;
}

header h1 {
        text-align: center;
        font-family: Rubik;
        font-size: xx-large;
        margin-left: 0px;
        margin-bottom: 5px;
    }

header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 30%;
        float: right;
        overflow: hidden;
        background-color: #333;
    }

header nav li {
        display: inline-block;
        float: right;
    }

header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

header li a:hover {
            background-color: #111;
        }

#layout {
    display: block;
}

#create {
    width: 25%;
    background: #ba454b;
    float: left;
    padding: 2%;
}

h2 {
    color: black;
}

#eventBar {
    width: 25%;
    background: #ba454b;
    float: left;
    padding: 2%;
    clear: left;
    
}

#newClassName, #newDate {
    width: 100%;
}

#newDesc, #newTime, #newLocation {
    width: 103%;
}

#eventsListDiv {
    float: right;
    background: #a3a2a2;
    padding: 1%;
    width: 67%;
}

.eventCard {
    padding: 2px;
    border: 2px solid black;
}

.creatorBar {
    padding: 2px;
    border-bottom: 2px solid black;
}

.bottomBar {
    border-top: 2px solid black;
    text-align: right;
}

.rsvpButton{
    padding: 2px;
}

.rsvpDiv {
    float: left;
}

section:after {
    content: "";
    display: table;
    clear: both;
}
/*Profile*/
.oval {
    height: 240px;
    width: 170px;
    background-color: #a3a2a2;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: table;
}
#printProfile{
    text-align:center;
    font-size: 25pt;
    font-family: Rubik;
}
.reportButton{
    list-style-type:none;
}